<div id="footer">
    <p>Sites de casa de cambio a disposição <a href="https://www.confidencecambio.com.br" target="_blank"> confidencecambio</a> e <a href="https://exchangenow.net/site-newhome" target="_blank"> site-newhome</a></p>
</div>
</body>
</html>