
<%- include ('header') %>

<form method="GET" action="price">
    <input name="price" placeholder="Dollar price..."><br>
    <input name="amount" placeholder="Number of dollars..."><br>
    <button>Convert!</button>
</form>

<%- include ('footer') %>