
<%- include ('header') %>
<!--
<form method="GET" action="/cotacao">
    <input name="cotacao" placeholder="Cotação dolar..." value="<%= cotacao %>"><br>
    <input name="quantidade" placeholder="Quantidade de dolares..."><br>
    <button>Converter!</button>
</form>
-->
<form id="formConverter" method="GET" action="/cotacao">
    <fieldset>
        <legend>Cotação do dollar do dia</legend>
        <input name="cotacao" value="<%= cotacao %>">
    </fieldset>
    <fieldset>
        <legend>Quantidade de dolares desejado abaixo</legend>
        <input name="quantidade" placeholder="Digite aqui ...">
        <label for="converter"><br>
            <button class="">Converter</button>
        </label>
    </fieldset>
    <section id="pagina1">
        <fieldset id="pagina1">
            <img id="img1" src="https://www.maxicambio.com.br/img/pgoogle/capa/full-a551da1679162907262078c24e1c24f8.jpg" widht="100%" height="55%">
        </fieldset>
    </section>
</form>
<%- include ('footer') %>