
body{
    background: cyan;
    text-align: center;
}
h1 img{
    width: 489px;
    margin: 20px;
}
input{
    border: 1px solid #000000;
    background: #fdfdfd;
    font-size: 20px;
    padding: 10px;
    margin: 4px;
}
button{
    border: 1px solid #000000;
    background: #d8d8d8;
    font-size: 20px;
    padding: 10px;
}
.result{
    padding: 10px;
    border: 1px solid #d8d8d8;
    background: #fdfdfd;
}
fieldset#pagina1{
    border: none;
    background: rgb(70, 202, 202);
}
img#img1{
    opacity: .5;
}
section#cotacao{
    margin: 5px;
    opacity: 50%;
}
div#footer{
    background: rgb(70, 202, 202);
    top: 0px;
    margin: 5px;
}